<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thyemleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>영화 홈</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
	<script th:src="@{/js/movie.js}"></script>
</head>

<body>

<div class="top">
	<h1>MOVING🍿</h1>
	<a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="button btn">로그아웃 │ </a>
	<a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="button btn">프로필</a>
</div>

<section class="slide slide_wrap">
	<div class="slide_item"><img th:src="@{/img/suzume.png}"></div>
	<div class="slide_item"><img th:src="@{/img/suzume.png}"></div>
	<div class="slide_item"><img th:src="@{/img/suzume.png}"></div>
    <div class="slide_prev_button slide_button">◀</div>
    <div class="slide_next_button slide_button">▶</div>
	<ul class="slide_pagination"></ul>
</section>

<section class="bottom">
	<h2>넷플릭스</h2>
	<ul class="ul_icon">
        <li th:each="Netflix_movie:${list}" class="box">
            <label><a><img src="#" th:src="@{*{Netflix_movie.poster_path}}"></a></label>
            <span id="title">[[ ${Netflix_movie.title} ]]</span>
        </li>
    </ul>
</section>

</body>
</html>   