<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thyemleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>홈</title>
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
	<!-- 로그인 전 -->
	<div id="btnbox">
		<h1 sec:authorize="not isAuthenticated()">MOVING🍿</h1>
		<h2 sec:authorize="not isAuthenticated()">로그인을 하여주세요</h2>
	    <a sec:authorize="not isAuthenticated()" th:href="@{/user/signUp}" class="button btn">회원가입</a>
	    <a sec:authorize="not isAuthenticated()" th:href="@{/user/signIn}" class="button btn">로그인</a>	
	</div>
	
	<!-- 로그인 후 -->
	<div class="welcome">
		<h1 sec:authorize="isAuthenticated()">MOVING🍿</h1>
		<h2 sec:authorize="isAuthenticated()">[[${#authentication.name}]]님, 환영합니다!</h2>
		<a sec:authorize="isAuthenticated()" th:href="@{/movie/home}" class="button btn">영화홈 가기</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/user/info"> 회원정보</a>
		<a sec:authorize="isAuthenticated()" href="#" class="button btn">로그아웃</a>
	</div>

</body>
</html>